<main>
  <section class="directors__edit">
    <div class="directors__edit-title">
      <h1>Editar Diretor(a)</h1>
      <div class="movies__btn-add">
        <%= link_to 'Voltar', directors_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="directors__edit-notice  movie__field">
      <% if flash.notice %>
        <%= flash.notice %>
      <% end %>
    </div>
    <div class="directors__edit-fields">
      <%= render partial: 'form', locals: { director: @director } %>
    </div>
  </section>
</main>